html{
    height:100%;
}
body{
    background-color:grey;
background-image: url(images/resimage.jfif);
background-size: cover;
background-position: center;
}
.container
{
    margin-left: auto;
    margin-right: auto;
    width: 1024;
}
header{
    
    height: 118px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
nav{
    background-color:rgba(0, 0, 0, 0.425);
    height: 40px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
   text-align: center;
  text-decoration: chocolate;
padding-top: 14px;
padding-left: 20px;
padding-right:20px; ;
}
main{
    
    
    height: 400px;
    width: 1024px;
     text-align: center;
     padding-top: 80px;
     margin-right: auto;
     margin-left: auto;
}
footer{
    
    background-color:rgba(0, 0, 0, 0.452);
    height: 100px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

        }
h1{
    font-size: 84px;
    color:white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p{
    font-size: 18px;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
nav a{
    text-decoration: none;
   /* compound selector */
  font-size: 12px;
    font-style: inherit; 
    padding-left: 10px;
padding-right: 10px;
}
footer p{
    font-size: 40px;
}
.maps
{
    padding-bottom: 100px;
   text-align: center;

}

